@using System.Globalization
@using Invoice.Application.Invoices.InvoiceReport

@model Invoice.Application.Invoices.InvoiceReport.InvoiceWithItemResponseReport

@{
    IFormatProvider cultureInfo = CultureInfo.CreateSpecificCulture("en-NP");
    var subtotal = Model.InvoiceItems.Sum(li => li.Amount * li.Quantity).ToString("C", cultureInfo);
    var total = Model.InvoiceItems.Sum(li => li.Amount * li.Quantity).ToString("C", cultureInfo);
}

<script src="https://cdn.tailwindcss.com"></script>

<div class="min-w-7xl flex flex-col bg-gray-200 space-y-4 p-10">
    <h1 class="text-2xl font-semibold">Invoice #@Model.Id.ToString()</h1>

    <div class="flex flex-col bg-white rounded-lg p-4 space-y-2">
        <h2 class="text-xl font-medium">Items:</h2>
        <div class="">
            <div class="flex space-x-4 font-medium">
                <p class="w-10">#</p>
                <p class="w-52">Name</p>
                <p class="w-20">Price</p>
                <p class="w-20">Quantity</p>
            </div>

            @foreach (InvoiceItemResponseReport item in Model.LineItems)
            {
                <div class="flex space-x-4">
                    <p class="w-10">@item.Id</p>
                    <p class="w-52">@item.Name</p>
                    <p class="w-20">@item.Amount.ToString("C", cultureInfo)</p>
                    <p class="w-20">@item.Quantity.ToString("N2")</p>
                </div>
            }
        </div>
    </div>

    <div class="flex flex-col items-end bg-gray-50 space-y-2 p-4 rounded-lg">
        <p>Subtotal: @subtotal</p>
        <p>Total: <span class="font-semibold">@total</span></p>
    </div>
</div>